.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}
